@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
    align-self: center;
    color: white;
    background: grey;
    width: 100%;
}

a{
    color: #fff;
    text-decoration: none;
    margin : 1vh;
}

.navLinkBox{
    display: inline;
    align-items: center;
    height: max-content; 
}

.navBar{
    background: rgb(96, 104, 108);
    background-color: rgb(96, 104, 108);
    background-image: none;
    height: 6vh;
    --darkreader-inline-bgcolor: #4d5356;
    --darkreader-inline-bgimage: none;
    padding: 1vh;
    font-size: 2vh;
}