
.Link_box{
    margin: 20px;
    width: fit-content;
    height: 100%;
    font-size: 15px;
    align-self: center;
    justify-self: center;
}
.style_box{
    padding: 2%;
    display: flex;
    overflow: scroll;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    border-color: purple;
    outline: solid;
   
    height: 40%;    
}