.Responses{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    height: 100%;
    width: 100%;
    color: white;

    
}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}