.submit_btn.submit_btn{
    margin-top: 5px;
    font-weight: bold;
    width: 200px;
    outline: none;
    background-color: grey;
    border : none;
    border-radius: 5px;
    margin: 1vh;
    background: gray;
    color: white;
}

.input{
    margin : 1vh;
}

.prescriptionList{
    color: white;
}